		#topbar li {

			padding-left:50px;
			font-size:1.5em;
			font-weight:bold;

		}	

		#ballotbody {

		}

		#topRow {
			margin-top:100px;
			text-align:center;

		}

		#bottomRow {
			text-align:center;
		}

		#alternative_table {
			text-align:center;
		}

		.alert {
			display:none;
		}

		.center {
			text-align:center;

		}

		.criterion:hover {

			cursor:pointer;

		}

		.votebtn {
			height:30px;
			text-align:center;
			
		}

		.contentContainer {

		}

		.color_pick {
			height:20px;
			width:20px;
			background-color:gray;
		}

		.dropup button {
			float:left;
		}

		.dropup li {
			margin:10px;
			border:1px solid gray;
			text-align:center;
			cursor:pointer;
		}
