#topbar li {
  padding-left:50px;
  font-size:1.5em;
  font-weight:bold;
}	

#topRow {
  margin-top:100px;
  text-align:center;
}

#alt_inst {
  max-width:500px;
  text-align:center;
  margin:auto;
}

#crit_inst {
  max-width:500px;
  text-align:center;
  margin:auto;
}	

#successdiv {
  max-width:500px;
  text-align:center;
  margin:auto;
}

#decision_image {
  max-width:100%;
  height:auto;
  width: auto\9;
}	

#bottomRow {
  text-align:center;
}

#alternative_table {
  text-align:center;
}

#criterrordiv {
  max-width:500px;
  margin:auto;
}

/*Box colors for rating Alternatives*/
.vote-red {background-color:red;}
.vote-orange {background-color:orange;}
.vote-yellow {background-color:yellow;}
.vote-greenyellow {background-color:greenyellow;}
.vote-green {background-color:green;}

.alert {
  display:none;
}

.center {
  text-align:center;
}

.slider {
  margin-top:10px;
  margin-bottom:30px;
  max-width:300px;
  margin-left:auto;
  margin-right:auto;
}

.slider-val {
  margin-left: 10px;
  padding:5px;
  border:1px solid gray;
}

.criterion:hover {
  cursor:pointer;
}

.alternative:hover {
  cursor:pointer;
}

.votebtn {
  height:30px;
  text-align:center;
}

.color_pick {
  height:20px;
  width:20px;
  background-color:gray;
}

.dropdown button {
  float:left;
}

.dropdown li {
  margin:10px;
  border:1px solid gray;
  text-align:center;
  cursor:pointer;
}

#ballotbottom {
  margin-bottom: 100px;
}