body {
  background: #eee !important;
  margin:20px;
}

th,td {
  text-align:center !important;
}

#keyTable {
	font-family: verdana,arial,sans-serif;
	font-size:18px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
  margin:20px;
}
#keyTable th {
	border-width: 1px;
	padding: 2px 8px 2px 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
#keyTable td {
	border-width: 1px;
	padding: 2px 8px 2px 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}

#votesTable {
	font-family: verdana,arial,sans-serif;
	color:#333333;
	border: 2px solid #333;
}

.step1, .step4{
  background:#333;
  color:#fff;
  font-size: 24px;
  text-align:center;
}

.step2{
  background:#999;
  color:#fff;
  font-size: 24px;
  text-align:center;
}

.row3 {
  font-weight:bold;
}

/* Applies to all criterion headers */
.critHeaders {
  color:#fff;
  font-size: 18px;
  font-weight:bold;
  text-align:center;
}

.footerCell {
  background:#333;
  border:1px solid #333 !important;
}

.footerTotal {
  font-weight:bold;
  font-size: 16px;
}

/* Colors of criterion headers */
.crit0 {background: #3366cc;}
.crit1 {background: #dc3912;}
.crit2 {background: #ff9900;}
.crit3 {background: #109618;}
.crit4 {background: #990099;}
.crit5 {background: #0099c6;}
.crit6 {background: #dd4477;}
.crit7 {background: #66aa00;}
.crit8 {background: #b82e2e;}
.crit9 {background: #316395;}
.crit10{background: #994499;}
.crit11{background: #22aa99;}
.crit12{background: #aaaa11;}
.crit13{background: #6633cc;}
.crit14{background: #e67300;}
.crit15{background: #8b0707;}
.crit16{background: #651067;}
.crit17{background: #329262;}
.crit18{background: #5574a6;}
.crit19{background: #3b3eac;}
.crit20{background: #b77322;}
.crit21{background: #16d620;}
.crit22{background: #b91383;}
.crit23{background: #f4359e;}
.crit24{background: #9c5935;}
.crit25{background: #a9c413;}
.crit26{background: #2a778d;}
.crit27{background: #668d1c;}
.crit28{background: #bea413;}
.crit29{background: #0c5922;}
.crit30{background: #743411;}

/* Colors of the ratings */
.alt-1{color:red;}
.alt-2{color:orange;}
.alt-3{color:yellow;}
.alt-4{color:greenyellow;}
.alt-5{color:green;}