a:hover {cursor: pointer; cursor: hand;}

.navbar-brand{padding:0px;}

#logo{height:50px;}

.tabbedContent{
  min-height:200px;
  max-width:800px;
  border-left:1px solid #CCC;
  padding:10px 5px 5px 20px;
}

#userList {
  max-width:800px;
}

.form-signin{
  max-width:500px;
}

.col-sm-3 ul ul{
  margin-left:20px;
}

.jumbotron {
  padding:10px !important; /*override default padding*/
}

#decImg {
  max-width:500px;
}