/* Colors of criterion headers */
.crit0 {color: #3366cc;}
.crit1 {color: #dc3912;}
.crit2 {color: #ff9900;}
.crit3 {color: #109618;}
.crit4 {color: #990099;}
.crit5 {color: #0099c6;}
.crit6 {color: #dd4477;}
.crit7 {color: #66aa00;}
.crit8 {color: #b82e2e;}
.crit9 {color: #316395;}
.crit10{color: #994499;}
.crit11{color: #22aa99;}
.crit12{color: #aaaa11;}
.crit13{color: #6633cc;}
.crit14{color: #e67300;}
.crit15{color: #8b0707;}
.crit16{color: #651067;}
.crit17{color: #329262;}
.crit18{color: #5574a6;}
.crit19{color: #3b3eac;}
.crit20{color: #b77322;}
.crit21{color: #16d620;}
.crit22{color: #b91383;}
.crit23{color: #f4359e;}
.crit24{color: #9c5935;}
.crit25{color: #a9c413;}
.crit26{color: #2a778d;}
.crit27{color: #668d1c;}
.crit28{color: #bea413;}
.crit29{color: #0c5922;}
.crit30{color: #743411;}

#clearbtn { 
  margin-bottom:20px;
}
form {
  font-size:15px;
}

#header {
  width:100%;
  margin: 0px;
}

#header img {
  margin:auto auto;
}

#content {
  padding:0px 20px 20px 20px;
  margin:auto auto;
}

#chart_div {
  float:left;
}

#pie_div {
  float:left;
}

#table_div {
  clear:both;
}