<html>
    <head>
		<!-- Latest compiled and minified CSS -->
        <script src='/static/jquery.min.js'></script>
		<script src="/static/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/static/bootstrap.min.css">
        <script src='/static/{{ .scriptname }}'></script>
        <script>
        $(function() {
            main({{ .body }});
        });
        </script>
    </head>
</html>
